
<!doctype html>
<html lang="en">
  <head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{% url 'insight:dashboard' %}">Chess Insight</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'insight:opening_systems' %}">Overview</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'insight:openings' %}">Openings</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'insight:games' %}">Games</a>
            </li>
          </ul>
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Sign up</button>
        </div>
      </nav>

      <main role="main" class="container">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-primary rounded shadow-sm">
          <i class="fas fa-chess-knight"></i>
          <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Chess Insights - KI Predictions</h6>
          </div>
        </div>

        {% block content %}
        {% endblock %}
      </main>
  </body>

  </html>
