{% extends 'main/basic.html' %}

{% block content %}
<div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{ player.name }}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Rank {{ player.rank }}</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Elo {{ player.elo }}</li>
          <li>Skill {{ player.skill }}</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Games</button>
      </div>
    </div>
{% endblock %}
